@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
a:hover,
li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #D4D4D4;
}
::-webkit-scrollbar {
  width: 7px;
}
.container {
  margin: 0 auto;
  margin-bottom: 60px;
}
.wrapper {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
.wrapper .row {
  margin-bottom: 10px;
}


@media (max-width: 1200px) {
  .wrapper {
    width: auto;
  }
}
